.row
  .col-md-6.col-md-offset-3
    .main_search
      = form_tag q_path, method: :get, html: { class: 'form' } do
        %p
          = text_field_tag :q, '',  class: 'form-control'
        %p
          = submit_tag 'Suggest!', class: 'btn btn-lg btn-primary', data: {disable_with: 'Sending...'}
